In [1]:
import pandas as pd

import matplotlib.pyplot as plt

In [2]:
housing_data = pd.read_csv('housing.csv')

housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
19083,-122.48,38.32,42.0,2106.0,533.0,1141.0,445.0,3.1129,149300.0,<1H OCEAN
10255,-117.87,33.88,28.0,3333.0,752.0,2026.0,722.0,3.5667,190700.0,<1H OCEAN
10679,-117.80,33.52,50.0,1152.0,341.0,519.0,225.0,3.0530,500001.0,<1H OCEAN
18595,-122.12,37.09,36.0,1397.0,289.0,661.0,243.0,4.1250,239600.0,NEAR OCEAN
2601,-123.66,41.30,22.0,1580.0,372.0,686.0,264.0,1.8065,62700.0,<1H OCEAN

In [3]:
housing_data = housing_data.dropna()

In [4]:
housing_data.shape

(20433, 10)

In [5]:
housing_data.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000
mean,-119.570689,35.633221,28.633094,2636.504233,537.870553,1424.946949,499.433465,3.871162,206864.413155
std,2.003578,2.136348,12.591805,2185.269567,421.385070,1133.208490,382.299226,1.899291,115435.667099
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1450.000000,296.000000,787.000000,280.000000,2.563700,119500.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.536500,179700.000000
75%,-118.010000,37.720000,37.000000,3143.000000,647.000000,1722.000000,604.000000,4.744000,264700.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [6]:
housing_data.loc[housing_data['median_house_value'] == 500001].count()

longitude             958
latitude              958
housing_median_age    958
total_rooms           958
total_bedrooms        958
population            958
households            958
median_income         958
median_house_value    958
ocean_proximity       958
dtype: int64

In [7]:
housing_data = housing_data.drop(housing_data.loc[housing_data['median_house_value'] == 500001].index)

In [8]:
housing_data.shape

(19475, 10)

In [9]:
housing_data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [10]:
housing_data['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [11]:
housing_data = pd.get_dummies(housing_data, columns=['ocean_proximity'])

In [12]:
housing_data.shape

(19475, 14)

In [13]:
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
9207,-119.85,37.10,8.0,828.0,168.0,413.0,146.0,3.3750,80700.0,0,1,0,0,0
5049,-118.38,34.02,31.0,1893.0,450.0,819.0,426.0,4.3077,140600.0,1,0,0,0,0
2704,-115.57,32.83,31.0,1494.0,289.0,959.0,284.0,3.5282,67500.0,0,1,0,0,0
13020,-121.22,38.71,23.0,1843.0,273.0,818.0,276.0,4.4695,214700.0,0,1,0,0,0
14473,-117.22,32.84,19.0,2691.0,347.0,1154.0,366.0,8.0510,363600.0,0,0,0,0,1

In [14]:
median = housing_data['median_house_value'].median()

median

173800.0

In [15]:
housing_data['above_median'] = (housing_data['median_house_value'] - median) > 0

In [16]:
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,above_median
5875,-118.34,34.18,45.0,3566.0,701.0,1601.0,653.0,3.8668,232000.0,1,0,0,0,0,True
13379,-117.61,34.14,14.0,15809.0,2485.0,7363.0,2410.0,5.5198,245600.0,0,1,0,0,0,True
20390,-118.91,34.22,15.0,5644.0,757.0,2659.0,783.0,6.7559,312000.0,1,0,0,0,0,True
11531,-118.09,33.76,26.0,1625.0,440.0,533.0,414.0,1.8080,58500.0,1,0,0,0,0,False
3369,-120.09,39.92,19.0,2335.0,518.0,1028.0,383.0,1.7267,60700.0,0,1,0,0,0,False

In [17]:
X = housing_data.drop(['median_house_value', 'above_median'], axis=1)
Y = housing_data['above_median']

In [18]:
X.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'ocean_proximity_<1H OCEAN', 'ocean_proximity_INLAND',
       'ocean_proximity_ISLAND', 'ocean_proximity_NEAR BAY',
       'ocean_proximity_NEAR OCEAN'],
      dtype='object')

In [19]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [20]:
x_train.shape, x_test.shape

((15580, 13), (3895, 13))

In [21]:
y_train.shape, y_test.shape

((15580,), (3895,))

### Train a logistic regression model for price classification

In [22]:
from sklearn.linear_model import LogisticRegression

logistic_model = LogisticRegression(solver='liblinear').fit(x_train, y_train)

In [23]:
print("Training_score : " , logistic_model.score(x_train, y_train))

Training_score :  0.8187419768934532

In [24]:
y_pred = logistic_model.predict(x_test)

In [25]:
df_pred_actual = pd.DataFrame({'predicted': y_pred, 'actual': y_test})

df_pred_actual.head(10)

       predicted  actual
6455       False    True
18801      False   False
14860      False   False
2575       False   False
417         True    True
8384        True    True
7752       False    True
20092      False   False
1724       False   False
14064      False   False

In [26]:
from sklearn.metrics import accuracy_score

print("Testing_score : ", accuracy_score(y_test, y_pred))

Testing_score :  0.82798459563543